body{
    
background: #000;}
.wrapper{
    width: 900px;
    height: 900px;
    background-color: gray;
}

.box{
    height: 400px;
}

.box:nth-child(1){
    background-color: rgb(98, 80, 80);
}
.box:nth-child(2){
    background-color: white;
}
.box:nth-child(3){
    background-color: rgb(63, 100, 63);
}
.box:last-of-type{
    background-color: rgb(65, 65, 122);
}