body {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
}

form {
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}


.container {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.responsive-display {
  display: none !important;
}

/* common styles */
.overlay-image {
  width: 100%;
  height: 530px;
  background-image: linear-gradient(to right, #14213dde, #14213dde),
    url('./../assets//images/cleaner-3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.primary-contact-btn-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.primary-contact-btn-container button {
  padding: 0 20px;
  height: 46px;
  border-radius: var(--base-radius);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.contact-us-btn {
  background-color: var(--clr-oxford-blue);
  color: var(--clr-white);
}

.send-message-btn {
  background-color: var(--clr-orange-yellow);
  color: var(--clr-oxford-blue);
}

.section-title-container {
  max-width: 809px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  color: var(--clr-oxford-blue);
  margin-bottom: 40px;
}

/* navbar */

.nav-container {
  position: relative;
}

.navbar {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  list-style-type: none;
  padding: 0;
}

.nav-items ul li a {
  text-decoration: none;
  color: var(--clr-white);
  cursor: pointer;
  position: relative;
  font-size: 20px;
}

.nav-items ul li a::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: var(--base-radius);
  background-color: var(--clr-white);
  transition: width 0.3s;
}

.nav-items ul li a:hover::after {
  width: 100%;
}

.scroll-nav {
  height: 134px;
  position: fixed;
  align-items: center;
  background-color: #050D04;
}

.responsive-navbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s;
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 16px;
}

.responsive-nav-items {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #050d04;
  padding: 0 16px 16px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.nav-items-controller img {
  cursor: pointer;
}

.responsive-nav-items ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.responsive-nav-items ul li a {
  display: block;
  color: var(--clr-white);
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid var(--clr-white);
  width: 100%;
  padding-bottom: 4px;
}

#responsive-nav-logo {
  display: none;
}

.secondary-navbar {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #050d04;
  z-index: 10;
  height: 134px;
  display: flex;
  align-items: center;
}

.phone {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: var(--clr-orange-yellow);
  display: grid;
  place-content: center;
}

/* hero section */

.hero {
  height: 990px;
  width: 100%;
  background: linear-gradient(0deg, rgba(5, 13, 4, 0.40) 0%, rgba(5, 13, 4, 0.40) 100%), linear-gradient(0deg, rgba(20, 33, 61, 0.10) 0%, rgba(20, 33, 61, 0.10) 100%);
  background-blend-mode: plus-darker, plus-darker;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content .items {
  width: 100%;
  max-width: 1158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content .items .hero-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-white);

}

.hero-content .items .title {
  margin: 50px 15px 38px;
  color: var(--clr-white);
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px 20px;
  border-radius: var(--base-radius);
  border: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  color: var(--clr-oxford-blue);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-orange-yellow);
}

.btn-secondary {
  background-color: var(--clr-white);
}

/* services */

.services {
  background-color: var(--clr-eggshell);
  padding-top: 150px;
}

.services-title-container {
  max-width: 841px;
  margin: 0 auto;
  padding: 0 16px;
}

.service-card-container {
  padding-top: 99px;
  margin: 0 auto;
}

.services-img-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.services-img-card img {
  width: 100%;
  height: 100%;
}

.services-img-card {
  position: relative;
  width: 305px;
  height: 364px;
  border-radius: var(--base-radius);
  overflow: hidden;
}

.services-img-title {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  background-color: var(--clr-oxford-blue);
}

.services-img-title h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: center;
  color: var(--clr-white);
  margin-bottom: 0;
}


.services-img-title {
  position: relative;
  z-index: 8;
}

.services-img-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -320px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #14213d99, #14213d99);
  transition: all 0.3s;
}

.services-img-card:hover  .services-img-card-content {
  top: 0;
}

.services-img-card-content a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.services-img-card-content p {
  width: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-img-card-content button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-img-card-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  color: var(--clr-white);
}

.services-img-card-content button {
  margin: 0 auto;
}

.services-commercials {
  min-height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  border-radius: var(--base-radius);
  overflow: hidden;
}

.services-commercials img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.commercials-description {
  background-color: var(--clr-oxford-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 35px;
}

.commercials-description h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--clr-white);
}

.commercials-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--clr-white);
  margin: 40px 0;
}

.commercial-btn {
  border: 0;
  background-color: var(--clr-orange-yellow);
  border-radius: var(--base-radius);
  color: var(--clr-oxford-blue);
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  cursor: pointer;
}

/* standout section */

.standout-options {
  background-color: #f0ede5;
  padding: var(--fixed-padding);
}

.standout-options-card-container {
  gap: 32px;
  padding-top: 99px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
}

.standout-options-card h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: var(--clr-oxford-blue);
  margin: 30px 0 20px;
}

.standout-options-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
}

/* reviews section */

.reviews {
  padding: 166px 0;
  background:#e6e6e6;
}

.reviews-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
 
}

.reviews-title-container h3 {
  color: var(--clr-oxford-blue);
}

.reviews-title-container p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  margin-bottom: 30px;
}

.reviews-title-container .pw_devider {
  margin-bottom: 30px;
}

.reviews-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.reviews-card-container-1,
.reviews-card-container-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews-card-container-1 .reviews-card {
  height: 230px;
}

.reviews-card-container-2 .reviews-card:first-child {
  height: 272px;
}

.reviews-card-container-2 .reviews-card:last-child {
  height: 188px;
}

.reviews-card {
  background-color: #14213d1a;
  border-radius: var(--base-radius);
  padding: 30px 25px;
  width: 413px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 25px;
}

.reviewer-info img {
  width: 50px;
  height: 50px;
}

.reviewer-details h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--clr-oxford-blue);
}

.reviews-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
}

/* Contact section */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
}

.contact-section-des-text{
  max-width: 760px;
  margin: 0 auto;
}

.contact-title-container h3 {
  color: var(--clr-white);
  margin-bottom: 0;
}

.contact-title-container p {
  max-width: 413px;
  color: var(--clr-white);
}

.contact-title-container button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--clr-orange-yellow);
  border-radius: var(--base-radius);
  padding: 0 21px;
  height: 56px;
}

.contact-title-container button p {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr-oxford-blue);
}

.contact-form-container {
  width: 740px;
  height: 428px;
  background-color: var(--clr-orange-yellow);
  padding: 20px 0 20px 20px;
  border-radius: 24px;
}

.contact-form-container form {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  height: 100%;
}

.contact-form-input {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.contact-form-input input[type='text'],
.contact-form-input input[type='email'],
.contact-form-input input[type='number'] {
  padding: 0 16px;
  height: 48px;
}

.contact-form-input textarea {
  padding: 18px 16px 17px;
  height: calc(100% - 144px);
  resize: none;
}

.contact-form-input input,
.contact-form-input textarea,
.contact-form-input input::placeholder,
.contact-form-input textarea::placeholder {
  border-radius: var(--base-radius);
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-oxford-blue);
}

.contact-form-services {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contact-form-services h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr-oxford-blue);
  margin-bottom: 0;
}

.contact-form-services-radio-container {
  margin: 17px 0 21px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex: 1;
}

.contact-btn-container {
  padding-right: 20px;
}

.contact-btn-container button {
  background-color: var(--clr-oxford-blue);
  color: var(--clr-white);
  border-radius: var(--base-radius);
  width: 100%;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form-services-radio-container .custom-radio {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  position: relative;
}

.contact-form-services-radio-container .custom-radio .custom-radio-btn {
  height: 18px;
  width: 18px;
  border: 1px solid var(--clr-oxford-blue);
  border-radius: 2px;
  position: relative;
}

.contact-form-services-radio-container .custom-radio .custom-radio-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--clr-oxford-blue);
  border: 1px solid transparent;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.custom-radio input[type='radio']:checked+.custom-radio-btn::after {
  opacity: 1;
}

.contact-form-services-radio-container .custom-radio input[type='radio'] {
  display: none;
}

.contact-form-services-radio-container .custom-radio label {
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-oxford-blue);
  line-height: 120%;
  cursor: pointer;
}

/* Power washing service section */

.washing-service-section {
  background-color: var(--clr-eggshell);
}

.power-washing-section-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 108px;
  padding: var(--fixed-padding);
}

.power-washing-section-title-container h3 {
  color: var(--clr-oxford-blue);
}

.power-washing-section-title-container p {
  margin: 30px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  counter-reset: var(--clr-dark-green);
}

.power-washing-section-title-container p:last-child {
  margin-bottom: 50px;
}

.power-washing-video-container {
  position: relative;
  min-width: 630px;
  height: 574px;
  border-radius: 20px;
  overflow: hidden;
}

.power-washing-video-container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Excellence section*/

.excellence {
  background-color: #e6e6e6;
  padding: 150px 0;
}

.excellence-container {
  margin: 0 auto;
}

.excellence-title-container {
  width: 1220px;
  margin: 0 auto;
}

.excellence-title-container h3 {
  text-align: center;
  color: var(--clr-oxford-blue);
}

.excellence-title-container p {
  max-width: 976px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  
}

.excellence-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  margin-top: 39px;
}

.excellence-btn-container::-webkit-scrollbar {
  height: 3px;
}

.excellence-btn-container::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background-color: grey;
  border-radius: 2px;
}

.excellence-btn-container button {
  height: 45px;
  min-width: 165px;
  padding: 0 20px;
  border-radius: var(--base-radius);
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-oxford-blue);
  background-color: #14213d1a;
}

.active {
  background-color: var(--clr-oxford-blue) !important;
  color: var(--clr-white) !important;
}

.excellence-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.excellence-img-container img {
  border-radius: 20px;
  width: 100%;
}

/* Map location */

.location {
  padding: var(--fixed-padding);
  background-color: var(--clr-eggshell);
}

.location-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 630px 1fr;
  grid-gap: 50px;
}

.location-title h3 {
  text-align: left;
  color: var(--clr-oxford-blue);
}

.location-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  margin: 30px 0;
}

.selected-cities {
  margin-top: 30px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 20px;
}

.selected-cities-responsive {
  display: none;
}

.selected-cities li {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.56px;
  color: var(--clr-dark-green);
  list-style-type: disc;
}

/* Section: Make appointment */

.appointment {
  padding: var(--fixed-padding);
}

.appointment-container {
  margin: 0 auto;
  color: var(--clr-white);
}

.responsive-appointment-title-container {
  display: none;
}

.appointment-container h3 {
  text-align: center;
  margin-bottom: 0;
  color: var(--clr-white);
}

.appointment-container p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: center;
}

.appointment-title-container>p {
  color: var(--clr-white);
}

.appointment-btn-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.appointment-btn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 56px;
  padding: 0 20px;
  border-radius: var(--base-radius);
  cursor: pointer;
}

.appointment-btn-container button p {
  color: var(--clr-oxford-blue);
  font-weight: 700;
}

.appointment-btn-container button:first-child {
  background-color: var(--clr-orange-yellow);
}

.appointment-btn-container button:last-child {
  background-color: var(--clr-white);
}

/* Accordion question section */

.accordion-section {
  background-color: var(--clr-eggshell);
  padding: var(--fixed-padding) 171px;
}

.accordion-section-container {
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 59px;
}

.accordion-section-title {
  width: 468px;
  padding-right: 59px;
}

.accordion-section-title h3 {
  text-align: left;
  color: var(--clr-oxford-blue);
}

.accordion-section-title span {
  width: 364px;
}

.accordion-section-title p {
  margin: 40px 0;
}

.accordion {
  width: 760px;
}

.accordion li {
  list-style-type: none;
}

.accordion li:first-child label {
  background-color: var(--clr-oxford-blue);
  color: var(--clr-white);
}

.accordion li:first-child label span img {
  filter: brightness(0) invert(1);
  position: relative;
}

.accordion-content {
  width: 100%;
  border-radius: 10px;
  background-color: #14213d1a;
}

.accordion label {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #14213d1a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 21.6px;
  font-weight: 700;
  text-align: left;
  color: var(--clr-oxford-blue);
  margin-bottom: 10px;
}

.accordion label span img {
  display: block;
  height: 18px;
  width: 12px;
}

.accordion-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: var(--clr-dark-green);
  height: 0;
  padding: 0 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion input[type='radio'] {
  display: none;
}

.accordion input[type='radio']:checked+.accordion-content {
  padding: 15px 20px;
  height: max-content;
  margin: 10px 0;
}

.accordion input[type='radio']:checked+label {
  background-color: var(--clr-oxford-blue);
  color: var(--clr-white);
}

/* Service-details */
.service-details {
  background-color: var(--clr-eggshell);
  padding: 285px 0 150px;
}

.service-details-container {
  width: var(--fixed-width);
  margin: 0 auto;
}

.service-details-title-container {
  width: 650px;
  margin: 0 auto;
}

.service-details-advantages {
  display: grid;
  grid-template-columns: 630px 630px;
  gap: 20px;
  margin-top: 100px;
}

.advantages-title-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.advantages-title-container h4 {
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  color: var(--clr-orange-yellow);
}

.advantages-title-container p {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  color: var(--clr-oxford-blue);
}

.all-advantages-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  margin: 40px 0 50px;
}

.advantages-card-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantages-card .card-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 30px;
}

.advantages-card .card-title span {
  display: block;
  height: 38px;
  width: 38px;
  background-color: var(--clr-oxford-blue);
  border-radius: 100%;
  display: grid;
  place-content: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--clr-white);
}

.advantages-card .card-title h4,
.contact-for-service-card h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  color: var(--clr-oxford-blue);
}

.contact-for-service-cards-container {
  padding: 25px;
  background-color: var(--clr-white);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-for-service-card {
  display: grid;
  grid-template-columns: 205px 1fr;
  grid-template-rows: 103px 102px;
  align-items: center;
  grid-gap: 23px;
}

.contact-for-service-card img {
  border-radius: var(--base-radius);
  grid-column: 1/1;
  grid-row: 1/-1;
}

.contact-for-service-card h4 {
  grid-column: 2/-1;
  grid-row: 1/2;
  align-self: end;
}

.contact-for-service-card p {
  grid-column: 2/-1;
  grid-row: 2/-1;
  align-self: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}

/* Why Us section */
.why-us {
  background-color: var(--clr-eggshell);
  padding: var(--variable-padding);
  border-bottom: 2px solid var(--clr-oxford-blue);
}

.beeclean-about {
  width: var(--fixed-width);
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 587px 587px;
  gap: 103px;
}

.beeclean-btn-container {
  display: flex;
  align-items: start;
}

.responsive-beeclean-btn-container {
  display: none;
}

.beeclean-about-decreption-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
}

.beeclean-about-decreption-text p:last-child {
  margin: 30px 0 50px;
}

.beeclean-about-details ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.beeclean-about-details li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  color: var(--clr-oxford-blue);
}

.beeclean-about-img-container {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: end;
}

.beeclean-about-img-container img {
  border-radius: 20px;
}

.beeclean-about-img-container div {
  position: absolute;
  left: -40px;
  bottom: -20px;
  width: 305px;
  height: 244px;
  background-color: var(--clr-oxford-blue);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.beeclean-about-img-container div p {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: center;
  color: var(--clr-white);
}

.beeclean-about-img-container div span {
  font-size: 70px;
  font-weight: 900;
  line-height: 84px;
  text-align: center;
  color: var(--clr-orange-yellow);
}

/* Our works section */

.our-works {
  background-color: var(--clr-eggshell);
  padding: 224px 0 150px;
}

.our-works-container {
  width: var(--fixed-width);
  margin: 0 auto;
}

.our-works-btn-container {
  margin: 50px 0 100px;
}

.our-works-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-works-ds-text{
  max-width:760px;
  margin: 0 auto;
}


.our-works-cards-contaier-1 {
  height: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.our-works-cards-contaier-2 {
  height: 508px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.our-works-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-works-card img {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.our-works-card-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background-color: var(--clr-white);
  height: 174px;
  padding: 20px;
  border-radius: 10px;
}

.our-works-card-content h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  color: var(--clr-oxford-blue);
  margin-bottom: 16px;
}

.our-works-card-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
}

.out-works-btn {
  display: none;
}

/* FAQ Section */

.faq {
  background-color: var(--clr-eggshell);
  padding: var(--variable-padding);
}

.faq-container {
  width: var(--fixed-width);
  margin: 0 auto;
}

.faq-btn-container {
  margin-top: 50px;
}

.faq-accordion {
  margin-top: 100px;
}
.faq-section-text{
  max-width: 532px;
  margin: 0 auto;
}

.contacts {
  background-color: var(--clr-eggshell);
  padding: var(--variable-padding);
}

.contacts-container {
  width: var(--fixed-width);
  margin: 0 auto;
}

.contacts-cards-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-card:first-child {
  width: 332px;
}

.contacts-card:nth-child(2) {
  width: 284px;
}

.contacts-card:last-child {
  width: 331px;
}

.contacts-card h4 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: center;
  color: var(--clr-oxford-blue);
}

.contacts-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  margin: 20px 0 30px;
}

.contacts-card a {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  text-align: center;
  color: var(--clr-oxford-blue);
}

/* Case Study */

.case-study {
  background-color: var(--clr-eggshell);
  padding: var(--variable-padding);
}

.case-study-container {
  width: var(--fixed-width);
  margin: 0 auto;
}

.case-study-btn-container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px;
}

.case-study-btn-container button {
  border-radius: 10px;
  background-color: var(--clr-oxford-blue);
  display: flex;
  align-items: center;
}

.case-study-btn-container button a {
  color: var(--clr-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  margin-left: 20px;
}

.clicked {
  background-color: var(--clr-orange-yellow) !important;
  color: var(--clr-oxford-blue) !important;
}

.case-study-img-container {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 413px 847px;
  grid-gap: 20px;
}

.case-study-img-container img {
  border-radius: 20px;
}


.pw-cas-section-des-text{
  max-width: 788px;
  margin: 0 auto;
}

.case-study-processes h4 {
  font-size: 42px;
  font-weight: 700;
  line-height: 46.2px;
  text-align: left;
  color: var(--clr-oxford-blue);
  margin-bottom: 50px;
}

.case-study-processes p:not(:last-child) {
  margin-bottom: 20px;
}

.commonly-asked-question {
  margin: 40px 0 50px;
}

.commonly-asked-question h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 28.6px;
  text-align: left;
  color: var(--clr-oxford-blue);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.commonly-asked-question h4 span {
  display: inline-block;
  height: 27px;
  width: 10px;
  margin-right: 20px;
  background-color: var(--clr-orange-yellow);
}

.commonly-asked-question h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  color: var(--clr-dark-green);
  margin-bottom: 20px;
}

.commonly-asked-question p:not(:last-child) {
  margin-bottom: 20px;
}

.img-comparison-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img-container {
  min-width: 630px;
  min-height: 396px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.img-container img {
  position: absolute;
  width: 100%;
}

#second-img {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

#slider {
  position: absolute;
  top: -50%;
  right: -2.5%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 105%;
  height: 100%;
  margin: 0 auto;
  transform: translateY(50%);
}

#slider:focus {
  outline: none;
}

#slider::-ms-track {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--clr-white);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-image: url('./../assets/icon/slider-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.img-comparison-unit .comparison-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-comparison-unit .comparison-details h5 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: var(--clr-dark-green);
}

.img-comparison-unit .comparison-details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
}

.testimonials {
  background-color: var(--clr-eggshell);
  padding: var(--variable-padding);
}

.testimonials-container {
  width: var(--fixed-width);
  margin: 0 auto;
}

.testimonials-cards-container {
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.testimonials-btn-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* footer */
.footer {
  background-color: var(--clr-oxford-blue);
}

.footer,
.footer a,
.footer p {
  color: var(--clr-white);
  font-size: 16px;
}

.footer li {
  list-style-type: none;
}

.footer-container {
  margin: 0 auto;
  padding-top: 50px;
}

.main-footer {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 120px;
  padding-bottom: 106px;
}

.footer-schedules p {
  margin-bottom: 16px;
}

.footer-schedules h4 {
  margin: 54px 0 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
}

.footer-title-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  margin-bottom: 15px;
}

.footer-title h4 {
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  color: var(--clr-white);
}

.footer-details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 47px;
}

.footer-details-specifications:first-child {
  min-width: 142px;
  margin-right: 94px;
}

.footer-details-specifications:nth-child(2) {
  width: 200px;
  margin-right: 117px;
}

.footer-details-specifications:last-child {
  width: 250px;
}

.footer-details-specifications h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
  text-align: left;
  margin-bottom: 49px;
}

.footer-details-specifications ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-details-specifications li {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 6px;
}

.footer svg {
  width: 100%;
}

.secondary-footer {
 
  padding: 26px 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondary-footer a:first-child {
  margin-right: 60px;
}

.secondary-footer p br {
  display: none;
}

@media only screen and (min-width: 1261px) {
  .testimonials-cards-container {
    height: 509px;
  }

  .testimonials-cards-container .reviews-card {
    position: absolute;
  }

  .testimonials-cards-container .reviews-card:first-child {
    top: 0;
    left: 0;
  }

  .testimonials-cards-container .reviews-card:nth-child(2) {
    top: 0;
    left: 433px;
  }

  .testimonials-cards-container .reviews-card:nth-child(3) {
    top: 0;
    right: 0;
  }

  .testimonials-cards-container .reviews-card:nth-child(4) {
    bottom: 0;
    left: 0;
  }

  .testimonials-cards-container .reviews-card:nth-child(5) {
    bottom: 0;
    left: 433px;
  }

  .testimonials-cards-container .reviews-card:last-child {
    bottom: 0;
    right: 0;
  }

  .desk {
    display: block;
  }

  .mobi {
    display: none;
  }

  .reviews {
    padding: 140px 0;
    background:#e6e6e6;
  }
}

@media only screen and (min-width: 769px) {
  .contact-for-service-btn {
    display: flex;
    align-items: start;
    justify-content: end;
    height: 120px;
  }

  .standout-secondary-padding {
    padding: 150px 0 0 !important;
  }

}

@media only screen and (max-width: 1260px) {
  :root {
    --fixed-width: 95%;
  }

  .responsive-display {
    display: block !important;
  }

  .section-title-container {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: inherit;
  }

  #nav-logo {
    width: 105px;
    height: 108px;
  }

  .commercial-btn {
    width: 156px;
    padding: 0;
    height: 53px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.52px;
    text-align: center;
  }

  .standout-options-card-container {
    padding-top: 50px;
  }

  .reviews {
    padding: 120px 0;
    background:#e6e6e6;
  }

  .reviews-container {
    flex-direction: column;    
  }

  .reviews-title-container {
    width: 100%;
  }

  .reviews-card-container {
    flex-direction: column;
  }

  .reviews-card {
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
  }

  .reviews-card-container-1,
  .reviews-card-container-2 {
  display: flex;
  flex-direction: row;
  gap:15px;
}

  .reviews-card:not(:last-child) {
    margin-bottom: 20px;
  }

  .contact {
    background-image: linear-gradient(to right,
        var(--clr-oxford-blue),
        var(--clr-oxford-blue));
    height: 100%;
    padding: 150px 0;
  }

  .contact-container {
    flex-direction: column;
    align-items: start;
    gap: 50px;
  }

  .contact-title-container {
    width: 100%;
  }

  .contact-form-container {
    width: 100%;
  }

  .power-washing-section-container {
    flex-direction: column;
  }

  .excellence-title-container {
    width: 100%;
  }

  .excellence-btn-container {
    overflow-x: scroll;
    margin-bottom: 30px;
    justify-content: start;
    scrollbar-width: thin;
    scrollbar-color: var(--medium-grey);
  }

  .excellence-btn-container::-webkit-scrollbar {
    height: 4px;
    border-radius: 10px;
  }

  .excellence-btn-container::-webkit-scrollbar-track {
    background-color: var(--clr-eggshell);
  }

  .excellence-btn-container::-webkit-scrollbar-thumb {
    background-color: var(--medium-grey);
    border-radius: 10px;
  }

  .excellence-img-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
  }

  .excellence-img-container img {
    width: 100%;
    object-fit: cover;
    object-position: left;
  }

  .location-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .location-map {
    height: 326px;
  }

  .accordion-section-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .accordion-section-title {
    width: 100%;
    padding-right: 0;
  }

  .accordion-section-title h3 {
    margin-bottom: 30px;
  }

  .accordion-section-title span {
    width: 100%;
  }

  .accordion-section-title p {
    margin: 30px 0;
  }

  .accordion {
    width: 100%;
  }

  .service-details-title-container {
    width: 95%;
  }

  .service-details-advantages {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;
  }

  .contact-for-service-btn {
    justify-content: start;
  }

  .beeclean-about {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    padding-top: 30px;
  }

  .beeclean-about-img-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .beeclean-about-img-container div {
    flex-direction: row;
    height: 84px;
    width: 95%;
    bottom: 10px;
    left: 10px;
    right: 0px;
  }

  .our-works-cards-container {
    gap: 50px;
  }

  .our-works-cards-contaier-1 {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
  }

  .our-works-cards-contaier-2 {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
  }

  .our-works-card img {
    width: 100%;
  }

  .out-works-btn {
    display: block;
    margin-top: 50px;
  }

  .footer-container {
    padding-top: 100px;
    overflow: hidden;
  }

  .footer-title p {
    text-align: center;
  }

  .main-footer {
    flex-direction: column;
    padding-bottom: 50px;
    gap: 0;
  }

  .footer-title-container {
    width: 100%;
  }

  .footer-title-text {
    text-align: center;
  }

  .footer-title {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .footer-details {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }

  .footer-details-specifications {
    width: 100%;
  }

  .footer-details-specifications:nth-child(2) {
    width: 100%;
    margin-right: 0;
  }

  .footer-details-specifications:last-child {
    width: 100%;
  }

  .footer-details-specifications h4 {
    margin: 50px 0 20px;
  }

  .footer-details .footer-details-specifications:not(:last-child) ul {
    height: 100px;
    flex-wrap: wrap;
  }

  .footer-details-specifications li {
    width: 50%;
  }

  .footer-details-specifications li:nth-child(4) {
    display: block;
  }

  .secondary-footer {
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .secondary-footer a:first-child {
    margin-right: 0;
  }

  .secondary-footer div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 2px solid var(--clr-white);
  }

  .secondary-footer p {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }

  .secondary-footer p span {
    display: none;
  }

  .secondary-footer p br {
    display: block;
  }

  .case-study-img-container {
    padding: 50px 0;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .case-study-img-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .case-study-btn-container {
    display: none;
  }

  .img-comparison-unit {
    flex-direction: column;
  }

  .desk {
    display: block;
  }

  .mobi {
    display: none;
  }
}

@media only screen and (max-width:1024px) {
 
}


@media only screen and (max-width: 992px) {
  .contacts-card {
    width: 100%;
  }

  .contacts-card h4 {
    margin-top: 20px;
    font-size: 18px;
    color: var(--clr-dark-green);
  }

  .desk {
    display: block
  }

  .mobi {
    display: none;
  }
  
}

@media only screen and (max-width: 768px) {
  :root {
    --fixed-padding: 100px 0;
    --variable-padding: 123px 0 100px;
  }

  .hero-content .items .hero-title {
    text-align: center;
    color: var(--clr-white);
  }

  .color-line,
  .color-line-2 {
    width: 95%;
    border-radius: var(--base-radius);
    margin: 0 auto;
  }

  .color-line-2 {
    margin: 30px 0;
  }

  .overlay-image {
    height: auto;
  }

  .text-mobile-blue {
    color: var(--clr-oxford-blue) !important;
  }

  .primary-contact-btn-container{
    justify-content: center;
  }

  .primary-contact-btn-container button {   
    text-transform: uppercase;
  }

  .navbar {
    display: none;
  }

  .responsive-navbar {
    display: flex;
  }

  .secondary-navbar {
    display: none;
  }

  #responsive-nav-logo {
    display: block;
    margin-bottom: 28px;
  }

  .hero {
    height: 650px !important;
    padding: 0 16px;
  }

  .hero-content .items {
    width: 100%;
  }

  .hero-content .items .title {
  line-height: var(--lh-md);
    margin: 25px 30px;
  }

  .btn-group {
    gap: 10px;
  }

  .services {
    padding-top: 100px;
  }

  .service-card-container {
    padding-top: 50px;
  }

  .services-commercials {
    display: none;
  }

  /* stand out  */

  .standout-options-card-container{
    gap: 50px;
  }

  .standout-options-card img {
    width: 100%;
    max-width: 88px;
    object-fit: contain;
  }

  .standout-options-card {
    display: grid;
    grid-template-columns: 88px 1fr;
    gap: 20px;
    font-size: 18px;
  }
  .standout-options-card h4 {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .services-img-cards-container {
    grid-template-columns: 1fr;
  }

  .reviews {
    padding: 100px 0;
  }

  .reviews-card-container-1 .reviews-card,
  .reviews-card-container-2 .reviews-card:first-child,
  .reviews-card-container-2 .reviews-card:last-child {
    height: 100%;
  }

  .reviews-title-container h3 {
    text-align: center;
  }

  .reviews-title-container p {
    font-size: 18px;
    line-height: 23.4px;
    text-align: center;
  }

  .contact {
    padding: 0;
  }

  .contact-container {
    padding: 100px 0;
  }

  .contact-title-container button {
    width: 100%;
    gap: 4px;
  }

  .contact-title-container button p {
    text-transform: uppercase;
    font-size: 18px;
  }

  .contact-form-container {
    height: 100%;
    padding: 16px 16px 16px 20px;
  }

  .contact-form-container form {
    height: auto;
    flex-direction: column;
  }

  .contact-form-input {
    min-width: 100%;
    width: 100%;
  }

  .contact-form-input textarea {
    height: 213px;
  }

  .contact-form-input input,
  .contact-form-input textarea,
  .contact-form-input input::placeholder,
  .contact-form-input textarea::placeholder {
    font-size: 16px;
  }

  .contact-form-services-radio-container {
    margin: 14px 0 30px;
    gap: 14px;
  }

  .contact-btn-container {
    padding-right: 0;
  }

  .contact-btn-container button {
    font-size: 18px;
  }

  .power-washing-section-title-container h3 {
    text-align: center;
  }

  .power-washing-section-title-container p {
    margin: 30px 0;
  }

  .power-washing-section-title-container button {
    text-transform: uppercase;
  }

  .power-washing-img {
    display: none;
  }

  .power-washing-video-container {
    display: none;
  }
  
  /* excellence */

  .excellence {
    padding: 100px 0;
  }

  .excellence-title-container h3 {
    line-height: 31px;
  }

  .excellence-title-container p {
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
  }

  .excellence-btn-container button {
    height: 54px;
    min-width: 166px;
    padding: 0 16px;
  }

  .excellence-img-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
  }

  .location-title h3 {
    line-height: 31px;
    text-align: center;
  }

  .selected-cities {
    display: none;
  }

  .selected-cities-responsive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 50px 0 50px 20px;
  }

  .selected-cities-responsive li{
    list-style: disc;
  }

  .appointment-title-container {
    display: none;
  }

  .responsive-appointment-title-container {
    display: block;
  }

  .appointment-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
  }

  .responsive-appointment-title-container > p {
    color: var(--clr-white);
  }

  .appointment-btn-container {
    flex-direction: column;
  }

  .appointment-btn-container button {
    width: 100%;
  }

  .accordion-section {
    padding: 100px 0;
  }

  .accordion-section-title h3 {
    text-align: center;
  }

  .accordion-section-title p {
    text-align: center;
  }

  .accordion label {
    font-size: 18px;
    font-weight: 700;
  }

  .service-details {
    padding: 150px 0 90px;
  }

  .contact-for-service-btn {
    margin-bottom: 50px;
  }

  .contact-for-service-cards-container {
    padding: 16px;
  }

  .contact-for-service-card {
    grid-template-columns: 110px 1fr;
    grid-template-rows: 110px 110px;
  }

  .contact-for-service-card img {
    width: 110px;
    height: 110px;
    grid-row: 1/2;
  }

  .contact-for-service-card h4 {
    align-self: center;
  }

  .contact-for-service-card p {
    grid-column: 1/-1;
    align-self: center;
  }

  .why-us {
    padding: 150px 0 0;
    border-bottom: 0;
  }

  .beeclean-btn-container {
    display: none;
  }

  .responsive-beeclean-btn-container {
    display: block;
    margin-top: 30px;
  }

  .beeclean-about-img-container div p {
    font-size: 18px;
    line-height: 21.6px;
  }

  .beeclean-about-img-container div span {
    font-size: 60px;
    line-height: 72px;
    text-align: center;
  }

  .our-works {
    padding: 123px 0 100px;
  }

  .our-works-btn-container {
    margin: 30px 0 50px;
  }

  .our-works-card-content {
    min-height: 187px;
    height: max-content;
  }

  .faq-accordion {
    margin-top: 50px;
  }

  .contacts {
    padding: 123px 0 100px;
  }

  .contacts-cards-container {
    margin: 50px 0 100px;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .footer-details-specifications h4 {
    font-size: 18px;
  }

  .img-container {
    min-width: 100%;
    min-height: 220px;
  }

  .case-study-processes h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    text-align: left;
  }

  .case-study-img-container img {
    height: 200px;
    object-position: top;
  }

  .services-img-card {
    width: 100%;
    max-width: 358px;
  }

  .desk {
    display: none;
  }

  .mobi {
    display: block;
  }

  .excellence-btn-container {
    margin-bottom: 51px;
    margin-top: 30px;
  }

}


@media only screen and (max-width:576px) {
   .btn-group {
    flex-direction: column;
    gap: 10px;
  }

  .hero-btn {
    width: 258px !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center;
    gap: 10px;
     
  }
  .reviews-card-container-1, .reviews-card-container-2{
    flex-direction: column;
  }

  .primary-contact-btn-container{
    justify-content: center;
    flex-direction: column;
  }

  .primary-contact-btn-container button {
   width: 100%;
    text-transform: uppercase;
  }
  .reviews-card{
    padding: 16px  20px;
    margin-bottom: 0px;
  }
  .reviews-card:not(:last-child) {
    margin-bottom: 0px;
  }
  .reviews-card-container,.reviews-card-container-1,.reviews-card-container-2 {
    gap: 16px;
  }
  .reviews-container{
    gap: 50px;
  }
}


@media only screen and (max-width: 500px) {
.excellence-img-container img {
  max-width: 171px; 
  width: 100%;
  max-height: 171px;
  object-fit: cover;
  object-position: left; 
  }
}

@media only screen and (max-width: 310px) {
  .standout-options-card {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .standout-options-card-container  {
    grid-template-columns: 1fr ;
  }
}